*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'clabri light';
};
.hero{
    color:aliceblue;
    width:100%;
    min-height:100vh;
    background: #ad33ff;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero h1{
    font-size: 50px;
    font-weight: 500;.
    margin-top: -50px;
    margin-bottom: 50px;
}

textarea{
    width: 600px;
    height: 250px;
    background :#fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    font-size: 19px;
}
.row{
    display: flex;
    width: 600px;
    align-content: center;
    gap: 20px;
}
button{
    background: #ff29cd;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
select{
    display: 1;
    background: #f533ff;
    height: 50px;
    padding: 0px 55px;
    outline: 0px;
    border:0;
    border-radius: 35px;
}